* {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #7ac3e2;
}

.navbar ul li{
    display: inline;
}

.navleftbuttons {
    float: left;
}

.account {
    float: right;
}